In [25]:
# -- Heroes of Pymoli Challenge --

# Import Dependencies
import pandas as pd

# CSV file
file = 'Resources/purchase_data.csv'

# Read CSV file and store in Pandas data frame
purchase_data_df = pd.read_csv(file)

In [26]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [40]:
# Grab all unique players IDs and display total players
total_players = len(purchase_data_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [34]:
# Calculate 4 different stats from purchase data
unique_item_df = len(purchase_data_df["Item Name"].unique()) 
average_item_price = purchase_data_df["Price"].mean() 
total_purchases = len(purchase_data_df)
total_revenue = purchase_data_df["Price"].sum()

# Insert summary stats to data frame
summary_stats_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                 "Average Item Price": [average_item_price],
                                 "Number Of Purchases": [total_purchases],
                                 "Total Revenue": [total_revenue]})

# Map to format Item Price and Revenue
summary_stats_df["Average Item Price"] = summary_stats_df["Average Item Price"].map("${:.2f}".format)
summary_stats_df["Total Revenue"] = summary_stats_df["Total Revenue"].map("${:.2f}".format)
summary_stats_df

,Number of Unique Items,Average Item Price,Number Of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [38]:
gender_demo = purchase_data_df.drop_duplicates(subset="SN", keep="last")

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64