In [23]:
# -- Heroes of Pymoli Challenge --

# Import Dependencies
import pandas as pd

# CSV file
file = 'Resources/purchase_data.csv'

# Read CSV file and store in Pandas data frame
purchase_data_df = pd.read_csv(file)

In [24]:
# Grab all unique players IDs and display total players
unique_players_df = purchase_data_df.drop_duplicates(subset="SN", keep="last")

total_players = len(unique_players_df)
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [26]:
# Calculate 4 different stats from purchase data
unique_items = len(purchase_data_df["Item Name"].unique()) 
average_item_price = purchase_data_df["Price"].mean() 
total_purchases = len(purchase_data_df)
total_revenue = purchase_data_df["Price"].sum()

# Insert summary stats to data frame
summary_stats_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                 "Average Item Price": [average_item_price],
                                 "Number Of Purchases": [total_purchases],
                                 "Total Revenue": [total_revenue]})

# Map to format Item Price and Revenue
summary_stats_df["Average Item Price"] = summary_stats_df["Average Item Price"].map("${:.2f}".format)
summary_stats_df["Total Revenue"] = summary_stats_df["Total Revenue"].map("${:.2f}".format)
summary_stats_df

,Number of Unique Items,Average Item Price,Number Of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [27]:
gender_group = unique_players_df.groupby(["Gender"])
gender_demo_df = gender_group.count()
gender_demo_df = gender_demo_df[["Purchase ID"]]
gender_demo_df = gender_demo_df.rename(
    columns={"Purchase ID": "Total Count"})
percentage = (gender_demo_df["Total Count"] / total_players) * 100
gender_demo_df["Percentage of Players"] = percentage
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:.2f}%".format)
gender_demo_df = gender_demo_df.sort_values("Total Count", ascending = False)
gender_demo_df.head()

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [28]:
gender_sales_df = purchase_data_df[["Gender", "Price"]]
gender_sales = gender_sales_df.groupby(["Gender"])
purchase_count_df = gender_sales.count() 
gender_stats_df = purchase_count_df.rename(
    columns={"Price": "Purchase Count"})
purchase_average = gender_sales.mean()
purchase_total = gender_sales.sum()
gender_stats_df["Average Purchase Price"] = purchase_average
gender_stats_df["Total Purchase Value"] = purchase_total
gender_stats_df = gender_stats_df.sort_values("Purchase Count", ascending = False)

player_count = gender_demo_df["Total Count"]
person_average = gender_stats_df["Total Purchase Value"] / player_count
gender_stats_df["Avg. Total Purchase Per Person"] = person_average

gender_stats_df["Average Purchase Price"] = gender_stats_df["Average Purchase Price"].map("${:.2f}".format)
gender_stats_df["Total Purchase Value"] = gender_stats_df["Total Purchase Value"].map("${:.2f}".format)
gender_stats_df["Avg. Total Purchase Per Person"] = gender_stats_df["Avg. Total Purchase Per Person"].map("${:.2f}".format)

gender_stats_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase Per Person
Gender,,,,
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [79]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 130]
group_names = ["<10", "10-14", "15-19","20-24", "25-29", "30-34", "35-39", "40+"]

ages_df = unique_players_df[["Age"]] 
ages_df[" "] = pd.cut(ages_df["Age"], age_bins, labels=group_names)
ages_df = ages_df.groupby(" ")
ages_stats_df = ages_df[["Age"]].count()
ages_percentage = (ages_stats_df["Age"] / total_players) * 100
ages_stats_df["Percentage of Players"] = ages_percentage
ages_stats_df["Percentage of Players"] = ages_stats_df["Percentage of Players"].map("{:.2f}%".format)
ages_stats_df = ages_stats_df.rename(
    columns={"Age": "Total Count"})
ages_stats_df

Z:\Users\Mark\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       Total Count Percentage of Players

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%